<mat-card appearance="outlined">
  @if (videoInfo && statistics) {
    <mat-card-actions class="button-container">
      <app-button (click)="routeToHome()"><mat-icon>keyboard_arrow_left</mat-icon></app-button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>{{ videoInfo.title }}</mat-card-title>
      <mat-card-subtitle>{{ videoInfo.publishedAt | date: 'fullDate' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="detailed-info">
      <div class="detailed-info-container">
        <img mat-card-image [src]="videoInfo.thumbnails.high.url" alt="preview" class="preview-image" />
        <div class="detailed-info-statistics-wrapper">
          <div class="detailed-info-title-description">Description:</div>
          <div class="detailed-info-description-container">
            <div>{{ videoInfo.description }}</div>
          </div>
          <div class="detailed-info-statistics">
            <div class="video-statistics-item">
              <mat-icon>remove_red_eye</mat-icon><span>{{ statistics.viewCount }}</span>
            </div>
            <div class="video-statistics-item">
              <mat-icon>thumb_up</mat-icon><span>{{ statistics.likeCount }}</span>
            </div>
            <div class="video-statistics-item">
              <mat-icon>thumb_down</mat-icon><span>{{ statistics.dislikeCount }}</span>
            </div>
            <div class="video-statistics-item">
              <mat-icon>comment</mat-icon><span>{{ statistics.commentCount }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  }
</mat-card>
