:host {
  padding: 1rem;
}

.button-container {
  padding: 1rem 1rem 0;
}

.detailed-info-container {
  display: flex;
  gap: 1rem;

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.detailed-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.preview-image {
  flex-grow: 1;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.detailed-info-statistics {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.video-statistics-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.detailed-info-title-description {
  font-weight: 600;
}

.detailed-info-description-container {
  max-height: 15rem;
  overflow: scroll;
}

.detailed-info-statistics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
