<div class="detailed-info-wrapper">
<div class="go-back-button">
  <app-button (click)="routeToHome()"><mat-icon>keyboard_arrow_left</mat-icon></app-button>
</div>
<div class="detailed-info-container">
  <img [src]="info.image" alt="preview" class="preview-image"/>
  <div class="detailed-info">
    <div class="detailed-info-title">
      <div class="title">{{info.title}}</div>
      <div>{{info.publishDate | date: 'fullDate'}}</div>
    </div>
    <div class="detailed-info-description">
      <div class="detailed-info-title-description">Description:</div>
      <div>{{info.description}}</div>
    </div>
    <div class="detailed-info-statistics">
      <div class="video-statistics-item">
        <mat-icon>remove_red_eye</mat-icon
        ><span>{{ info.views }}</span>
      </div>
      <div class="video-statistics-item">
        <mat-icon>thumb_up</mat-icon
        ><span>{{ info.likes }}</span>
      </div>
      <div class="video-statistics-item">
        <mat-icon>thumb_down</mat-icon
        ><span>{{ info.dislikes }}</span>
      </div>
      <div class="video-statistics-item">
        <mat-icon>comment</mat-icon
        ><span>{{ info.commentCount }}</span>
      </div>
    </div>
  </div>
</div>
</div>
