<header class="header">
  <div class="header-container">
    <app-logo />
    <div class="header-search-container">
      <form class="header-form">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput type="text" [formControl]="searchFormControl" />
        </mat-form-field>
      </form>
      <app-button (click)="toggleFilters()"
        ><mat-icon>sort</mat-icon></app-button
      >
    </div>
    <div class="header-login-info">
      <div *ngIf="authService.getUserState()">
        <app-button (click)="authService.logout()"
          ><span>Logout</span></app-button
        >
      </div>
      <span>Username</span>
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>

  <div *ngIf="areFiltersOpened" class="header-filters">
    <span>Sort by:</span>
    <app-button-toggle
      firstButtonValue="date asc"
      secondButtonValue="date desc"
      (valueToggle)="sort($any($event))"></app-button-toggle>
    <app-button-toggle
      firstButtonValue="views asc"
      secondButtonValue="views desc"
      (valueToggle)="sort($any($event))"></app-button-toggle>
    <div>
      <span>by word or sentence:</span>
      <mat-form-field>
        <input matInput type="text" [formControl]="sortFormControl" />
      </mat-form-field>
    </div>
  </div>
</header>
