<header class="header">
  <div class="header-container">
    <app-logo />
    <div class="header-search-container">
      <form (submit)="$event.preventDefault(); search()" class="header-form">
        <app-input
          inputLabelTitle="Search"
          (valueChange)="onSearchValueChange($event)" />
        <app-button><span>Search</span></app-button>
      </form>
      <app-button (click)="toggleFilters()"
        ><mat-icon>sort</mat-icon></app-button
      >
    </div>
    <div class="header-login-info"  routerLink="/first-component">
      <span>Username</span>
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>

  <div *ngIf="areFiltersOpened" class="header-filters">
    <span>Sort by:</span>
    <app-button-toggle
      firstButtonValue="date asc"
      secondButtonValue="date desc"
      (valueToggle)="sort($any($event))"></app-button-toggle>
    <app-button-toggle
      firstButtonValue="views asc"
      secondButtonValue="views desc"
      (valueToggle)="sort($any($event))"></app-button-toggle>
    <div>
      <span>by word or sentence:</span>
      <app-input inputLabelTitle="" (valueChange)="sortValueChange($event)" />
    </div>
  </div>
</header>
