.app-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.video-statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.video-statistics-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  max-width: 18rem;
  white-space: nowrap;
  max-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
