@use '@angular/material' as mat;
@include mat.core();

$YouTube-Client-App-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($YouTube-Client-App-theme);
  --mdc-filled-text-field-container-color: none;
  --mat-form-field-subscript-text-weight: 0.4rem;
  --mdc-icon-button-icon-size: 1rem;
  --mdc-icon-button-state-layer-size: 1.8rem;
  --mdc-icon-button-icon-color: none;
  --mat-icon-button-hover-state-layer-opacity: 0;
  --mat-form-field-hover-state-layer-opacity: 0;
}

::deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    display: none;
  }

  .mat-mdc-icon-button {
    width: 1rem;
    height: 1rem;
    padding: 0;
  }

  .material-design {
    font-size: 1rem;
  }

  .mat-mdc-form-field-focus-overlay {
    opacity: 0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
